.list-item {
  transition: 0.4s;
  padding: 12px;
  border-radius: 20px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 20px;
}
.list-item-dark {
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    rgb(92, 16, 104),
    rgb(27, 94, 108)
  );
}
.list-item-dark:hover {
  background-image: linear-gradient(
    to right,
    rgb(128, 22, 146),
    rgb(36, 125, 144)
  );
  border: 1px solid #2ef3f3;
}
.hero-name-dark {
  font-size: 1.8rem;
  color: #ffffff;
  font-family: "Roboto";
  max-width: 290px;
}
.list-item-light {
  color: rgb(56, 56, 56);
}
.hero-img-wrap {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #8d7d88;
  background-image: url("../../img/star.svg");
  background-size: cover;
  margin-right: 12px;
  overflow: hidden;
}
.hero-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.error {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: "Roboto";
}
.view-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  transition: 0.3s;
  padding: 8px 26px;
  border: none;
  border-radius: 5px;
}
.view-btn-dark {
  background: #2ef3f3;
}
.view-btn-light {
  color: #ffffff;
  background: #f8dc64;
}
.view-btn:hover {
  background: #f8dc64;
}
.theme-name {
  padding: 0 5px;
  font-size: 1.3rem;
  font-weight: 700;
}
.theme-name-light {
  color: #dcdcdc;
}
.theme-name-dark {
  color: #a842b1;
}
