.list-item {
  transition: 0.4s;
  padding: 12px;
  border-radius: 20px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 20px;
}
.list-item-dark {
  background-image: linear-gradient(
    to right,
    rgb(87, 65, 144),
    rgb(88, 23, 73)
  );
}
.list-item-light {
  background-image: linear-gradient(
    to right,
    rgb(196, 183, 230),
    rgb(207, 176, 200)
  );
}
.hero-name-dark {
  font-size: 1.8rem;
  color: #ffffff;
  font-family: "Roboto";
  max-width: 290px;
}
.list-item-light {
  color: rgb(56, 56, 56);
}
.hero-img-wrap {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #8d7d88;
  background-image: url("../../img/star.png");
  background-size: cover;
  margin-right: 12px;
}
.hero-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.error {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: "Roboto";
}
.view-btn {
  position: absolute;
  right: 20px;
  transition: 0.3s;
  padding: 8px 26px;
  border: none;
  border-radius: 5px;
}
.view-btn-dark {
  background: #87d7d7;
}
.view-btn-light {
  color: #ffffff;
  background: #3b5d5d;
}
.view-btn:hover {
  background: #da61b3;
}
.theme-name {
  padding: 0 5px;
  font-size: 1.3rem;
  font-weight: 700;
}
.theme-name-light {
  color: #dcdcdc;
}
.theme-name-dark {
  color: #a842b1;
}
