.card {
  width: 40%;
  border-radius: 20px;
  padding: 20px;
}
.card-dark {
  border: 1px solid #2ef3f3;
  background-image: linear-gradient(
    to right,
    rgb(35, 59, 80),
    rgb(49, 99, 109)
  );
}
.card-light {
  border: 1px solid #505050e6;
}

.card-left-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.card-left {
  font-size: 2.4rem;
  font-family: "Roboto";
  font-weight: 500;
}
.card-left-dark {
  color: #ffffff;
}
.card-left-light {
  color: #484435;
}
.card-left-pic-wrap {
  width: 50%;
  height: 300px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.planet-icon {
  background-image: url("../../img/planet.svg");
}
.ship-icon {
  background-image: url("../../img/ship.svg");
}
.person-icon {
  background-image: url("../../img/hero.svg");
}
.desc-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.desc-item {
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #2ef3f3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.desc-item-data {
  padding-left: 8px;
  font-family: "Roboto";
  font-size: 1.6rem;
}
.desc-item-data-dark {
  color: #ffffff;
}
.desc-item-data-light {
  color: #3b3b3b;
}
.decs-item-span {
  padding: 14px 0 8px 7px;
  font-size: 1.1rem;
  color: #949292;
  font-family: "Roboto";
  text-align: left;
  width: 110px;
  border-right: 1px solid #2ef3f3;
}
.default-card {
  padding: 60px 140px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: "Roboto";
  color: #fff;
  border: 1px solid #6d466a;
  border-radius: 20px;
}
