.header {
  background-size: cover;
  background-position: center;
}
.header-dark {
  background-image: url("../../img/header-bg.jpg");
}
.header-light {
  background-image: url("../../img/header-bg-light.jpg");
}
.header-container {
  height: 100%;
  position: relative;
  width: 1180px;
  margin: 0 auto;
}
.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.title-wrap {
  width: 100%;
  text-align: center;
}
.header-title {
  margin: 0;
  padding: 140px 0;
  font-size: 5rem;
  color: rgb(247, 220, 101);
  text-transform: uppercase;
}
