.nav-list {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.nav-item a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Fira Sans";
  text-transform: uppercase;
}
.nav-item {
  color: #ffffff;
  text-decoration: none;
  font-family: "Fira Sans";
  text-transform: uppercase;
  cursor: pointer;
}
.nav-item:hover {
  color: #3de1f3;
}
.nav-item a:hover {
  opacity: 0.8;
}
